.Projects-container {
  text-align: center;
}

.Projects-container h2 {
  font-size: 1.75rem;
}

.Project-card {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  border-radius: 10px;
}

.Project-card h3 {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 0px;
}

.github-link {
  margin: 1rem;
}

.app-link {
  margin: 1rem;
}

.hero {
  display: grid;
  grid-template: auto/1fr;
  margin: 1rem auto 0.25rem;
  padding: 2em;
  padding-bottom: 1em;
  background-color: #dddddd;
  border-radius: 4px;
  max-height: 700px;
}

.hero h3 {
  font-size: 1.5rem;
}

.hero p {
  margin: 1em 0.5rem;
  text-align: left;
}

.hero img {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  border-radius: 4px;
}

.hero-titles {
  display: flex;
  margin: 1rem 0;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  max-height: 325px;
  margin-left: auto;
  margin-right: auto;
}

.made-with {
  margin-top: 2rem;
  margin-bottom: 0;
}

.project-stack {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
}

.tech-card {
  width: 150px;
  height: 80px;
  text-align: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.tech-card span {
  display: block;
  padding: 5px;
}

.tech-card img {
  padding: 10px 0 5px 0;
}

.logo32 {
  height: 32px;
  width: 32px;
}

.logo200 {
  height: 32px;
}

/* @media only screen and (min-width: 800px) {
  .hero {
    max-height: 1000px;
    grid-template: auto/1fr 1fr;
  }

  .hero img {
    grid-column-start: 2;
    max-height: initial;
    border-radius: 4px;
  }

  .hero-titles {
    grid-row-start: 1;
  }
} */
