.Projects-container {
  text-align: center;
}

.Projects-container h2 {
  font-size: 1.75rem;
}

.Project-card {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  border-radius: 10px;
}

.Project-card h3 {
  padding: 20px;
  font-size: 24px;
  margin-bottom: 0px;
}

.github-link {
  margin: 1rem;
}

.app-link {
  margin: 1rem;
}

.hero {
  display: grid;
  grid-template: auto/1fr;
  margin: 1rem auto 0.25rem;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #dddddd;
  border-radius: 4px;
  max-height: 700px;
}

.hero h3 {
  font-size: 1.5rem;
  padding: 10px;
  padding-top: 0px;
}

.hero p {
  margin: 1em 0.5rem;
  text-align: left;
}

.hero img {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
  border-radius: 4px;
}

.hero-titles {
  display: flex;
  margin: 1rem 0;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.made-with {
  margin-top: 2rem;
  margin-bottom: 0;
}

.project-stack {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  padding: 0rem 0rem 1rem 0rem;
}

.tech-card {
  width: 150px;
  height: 80px;
  text-align: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.tech-card span {
  display: block;
  padding: 5px;
}

.tech-card img {
  padding: 10px 0 5px 0;
}

.logo32 {
  height: 32px;
  width: 32px;
}

.logo200 {
  height: 32px;
}

.project-description {
  max-width: 600px;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.project-pic {
  max-width: 600px;
  width: 80%;
}

.GoCery .hero-titles {
  height: 240px;
}

.FO76 .hero-titles {
  height: 220px;
}

.Blackjack .hero-titles {
  height: 300px;
}

.NoteShark .hero-titles {
  height: 240px;
}

@media only screen and (min-width: 800px) {
  .GoCery .hero-titles {
    height: 175px;
  }

  .FO76 .hero-titles {
    height: 140px;
  }

  .Blackjack .hero-titles {
    height: 175px;
  }

  .NoteShark .hero-titles {
    height: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .FO76 .hero img {
    height: 250px;
  }
}
