.Contact-container {
  text-align: center;
}

.Contact-container h2 {
  font-size: 1.75rem;
  padding-bottom: 0px;
  color: #e57200;
}

.Contact-card {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.Contact-card {
  text-align: center;
  background-image: url(../../images/uva-rotunda-2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.contact {
  width: 80px;
  text-align: center;
}

.contact img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.contact a {
  height: 32px;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
}

.find-me-on {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Contact-Background {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(35, 45, 75, 0.7);
  color: #e57200;
  border-radius: 10px;
  padding: 25px;
  box-sizing: border-box;
}

.find-me-on p {
  margin-bottom: 5px;
}

.email-link {
  color: #e57200;
}

.email-link:hover {
  color: blue;
}

.contact-stack {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
  .Contact-card {
    text-align: center;
    background-image: url(../../images/uva-rotunda-2-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .Contact-Background {
    margin: 10px;
  }
}

@media only screen and (max-width: 370px) {
  .Contact-card {
    background-size: auto 100%;
  }
}
