.Contact-container {
  text-align: center;
}

.Contact-container h2 {
  font-size: 1.75rem;
  padding: 20px;
}

.Contact-card {
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  border-radius: 10px;
}

.Contact-card {
  text-align: center;
}

.contact {
  width: 100px;
  text-align: center;
}

.contact img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.contact a {
  height: 32px;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
}

.find-me-on {
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.find-me-on p {
  margin-bottom: 5px;
}

.contact-stack {
  text-align: center;
  max-width: 300px;
}
