.contact-form {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  text-align: left;
}

.contact-form input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

.contact-form > :not(:last-child) {
  margin-bottom: 16px;
}

.contact-form .form-field {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.contact-form button {
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  border: solid 1px transparent;
  border-radius: 4px;
  background-color: #232d4b;
  color: #e57200;
}

.contact-form button:hover {
  background-color: rgb(10, 20, 50);
}

@media only screen and (max-width: 400px) {
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    max-width: 250px;
  }
}
