.Carousel .indicators {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 12px 0;
}

.Carousel .dot {
  height: 10px;
  width: 10px;
  margin: 0 3px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.Carousel .dot:hover {
  background-color: rgba(229, 114, 0, 0.5);
}

.Carousel .dot--active {
  background-color: #e57200;
  box-shadow: 0 0 6px rgba(229, 114, 0, 0.5);
}
